---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { byDateDesc } from "../../lib/sort";

const allBooks = await getCollection("books");
---

<Layout
  title="LOD - Books"
  description="A list of books I've read since 2021, with links to the ones I've written notes on."
>
  <main>
    <h1>Books</h1>
    <p>
      A list of books I've read since 2021. I've linked to the books I've written notes on.
    </p>
    <hr />
    <ul>
      {
        allBooks
        .sort(byDateDesc)
        .map((book) => (
          <li>
            {book.data.link ? (
              <a href={`/books/${book.id}/`} data-astro-prefetch>{book.data.title}</a><span class="author"> - {book.data.author}</span>
            ) : (
              <span>{book.data.title} - </span><span class="author">{book.data.author}</span>
            )}
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    padding-left: 1rem;
  }

  li {
    padding: 4px 0;
  }

  .author {
    font-size: 0.8rem;
    color: darkslategrey;
  }

  @media (prefers-color-scheme: dark) {
    .author {
      color: ghostwhite;
    }
  }
</style>
